a{
    text-decoration: none;
    color: black;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 450px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}